<div class="sidebar">
  <% if current_user?(@user) %>
    <%= link_to "edit", edit_user_path(@user) %>
  <% end %>
  <% if current_user.admin? and not current_user?(@user) %>
    <%= link_to "delete", @user, :method => :delete,
                                 :confirm => "Are you sure? This will also delete any tastings #{@user.name} has in the system.",
                                 :title => "Delete #{@user.name}" %>
  <% end %>
</div>

<h2>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h2>

<% unless @user.tastings.empty? %>
  
  <br />
  
  <h3>Tastings</h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Beer</th>
      <th>Taster</th>
      <th>Rating</th>
      <th>Comments</th>
      <th></th>
    </tr>
    <%= render @tastings %>
  </table>

<% end %>
