<%= render "shared/error_messages", :object => f.object %>
<div class="field">
  <%= f.label :beer_id %><br />
  <%= f.select :beer_id, options_from_collection_for_select(Beer.all, :id, :name) %>
</div>
<div class="field">
  <%= f.label :taster_id %><br />
  <%= f.select :taster_id, options_from_collection_for_select(User.all, :id, :name) %>
</div>
<div class="field">
  <%= f.label :rating %><br />
  <%= f.text_field :rating %>
</div>
<div class="field">
  <%= f.label :comments %><br />
  <%= f.text_field :comments %>
</div>
<div class="field">
  <%= f.label :tasted_on %><br />
  <%= f.date_select :tasted_on %>
</div>
