<tr>
  <td><%= tasting.tasted_on %></td>
  <td><%= tasting.beer.name %></td>
  <td><%= tasting.taster.name %></td>
  <td><%= tasting.rating %></td>
  <td><%= tasting.comments %></td>
  <td><%= link_to 'Details', tasting %></td>
</tr>