<h2><%= @title %></h2>

<p><%= link_to 'New Tasting', new_tasting_path %></p>

<table>
  <tr>
    <th>Beer</th>
    <th>Taster</th>
    <th>Rating</th>
    <th>Comments</th>
    <th>Tasted On</th>
    <th></th>
  </tr>

<% @tastings.each do |tasting| %>
  <tr>
    <td><%= tasting.beer.name %></td>
    <td><%= tasting.taster.name %></td>
    <td><%= tasting.rating %></td>
    <td><%= tasting.comments %></td>
    <td><%= tasting.tasted_on %></td>
    <td><%= link_to 'Details', tasting %></td>
  </tr>
<% end %>
</table>

<br />

