<%= render "shared/error_messages", :object => f.object %>
<div class="field">
  <%= f.label :brewery_id %><br />
  <%= f.collection_select :brewery_id, Brewery.all, :id, :name %>
</div>
<div class="field">
  <%= f.label :style %><br />
  <%= f.text_field :style %>
</div>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :abv %><br />
  <%= f.text_field :abv %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_field :description %>
</div>
