<div class="sidebar">
  <%= link_to 'new beer', new_beer_path %>
</div>

<h2><%= @title %></h2>

<table>
  <tr>
    <th>Brewery</th>
    <th>Style</th>
    <th>Name</th>
    <th>ABV</th>
    <th>Description</th>
  </tr>

<% @beers.each do |beer| %>
  <tr>
    <td><%= beer.brewery.name %></td>
    <td><%= beer.style %></td>
    <td><%= link_to beer.name, beer %></td>
    <td><%= beer.abv %>%</td>
    <td><%= beer.description %></td>
  </tr>
<% end %>
</table>
