<div class="sidebar">
  <ul>
    <li><%= link_to @beer.brewery.name, @beer.brewery %></li>
    <li><%= @beer.style %></li>
    <li><%= @beer.abv %>% ABV</li>
  </ul>
  <br />
  <%= link_to 'edit', edit_beer_path(@beer) %> |
  <%= link_to 'delete', @beer, :method => :delete,
                               :confirm => "Confirm deletion of #{@beer.name}",
                               :title => "Delete #{@beer.name}" %>
</div>

<h2><%= @beer.name %></h2>
<p><%= @beer.description %></p>


