<div class="sidebar">
  <ul>
    <li><%= link_to @beer.brewery.name, @beer.brewery %></li>
    <li><%= @beer.style %></li>
    <li><%= @beer.abv %>% ABV</li>
  </ul>
  <br />
  <%= link_to 'edit', edit_beer_path(@beer) %> |
  <%= link_to 'delete', @beer, :method => :delete,
                               :confirm => "Really delete #{@beer.name}?",
                               :title => "Delete #{@beer.name}" %>
  <br />
  <%= link_to 'new tasting', new_tasting_path(:beer_id => @beer) %>
</div>

<h2><%= @beer.name %></h2>

<p><%= @beer.description %></p>

<% unless @beer.tastings.empty? %>
  
  <h3>Tastings</h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Taster</th>
      <th>Rating</th>
      <th>Comments</th>
      <th></th>
      <th></th>
    </tr>

  <% for tasting in @beer.tastings %>
    <tr>
      <td><%= tasting.tasted_on %></td>
      <td><%= tasting.taster.name %></td>
      <td><%= tasting.rating %></td>
      <td><%= tasting.comments %></td>
      <td><%= link_to 'edit', edit_tasting_path(tasting) %></td>
      <td>
        <%= link_to 'delete', tasting, :method => :delete,
                                       :confirm => "Really delete tasting?",
                                       :title => "Delete tasting" %>
      </td>
    </tr>
  <% end %>

  </table>

<% end %>
