<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <%= render 'layouts/scripts' %>
    <%= render 'layouts/stylesheets'%>
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header'%>
      <section>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
